AI Retail Distribution Automation System/3_Stock_Order_and_Receive_Low_Expiry_Notification.json
{
  "name": "3_Stock_Order_and_Receive_Low_Expiry_Notification",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -672,
        -144
      ],
      "id": "8ec59399-a8be-4158-938e-0cdd0e104b79",
      "name": "When chat message received",
      "webhookId": "963ca52c-6184-46c5-8611-33d63c275c4d"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -448,
        96
      ],
      "id": "f4f7b313-4545-4a25-8c62-e36a8916a5b3",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "TtgSikMO0axYJK5w",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -320,
        96
      ],
      "id": "bac76c5b-e1bc-4dc0-8884-63880d6499d6",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a Smart Ordering Assistant for Nestlé Water Distribution.\nYour job is to help place supplier orders automatically.\n\nYou will get product details from the Company Information Sheet:\n\nID\tProduct Name\tSize\tCategory\n1\tNestle Water Pure Life\t500 ml\twater\n2\tNestle Water Pure Life\t1500 ml\twater\n3\tNestle Water Pure Life\t5 Litre\twater\n4\tNestle Water Pure Life\t19 Litre\twater\n\nYou will also fetch the Supplier Email from the Company Sheet and use it automatically when sending the order.\n\nYour job is to handle 2 tasks:\n\n1️⃣ Place Company Order\n2️⃣ Receive Stock\n\nMessages must be short, simple, and WhatsApp-style.\n\n📌 MAIN MENU (First Message)\n\nWhen customer says: hi, hello, salam, hey\n\nReply:\n\nHello! 👋\nWelcome to Nestlé Water Distribution.\nPlease choose an option:\n\n1️⃣ Place a New Order (Supplier)\n2️⃣ Receive Stock\n\nReply with the option number.\n\n1️⃣ PLACE A NEW ORDER (Supplier Order)\n\nOnly ask for two things:\n\nStep 1 — Ask for Product ID\n\n\"Please share the Product ID.\"\n\n(Valid IDs: 1, 2, 3, 4)\n\nIf ID is not valid → show list again.\n\nStep 2 — Ask for Quantity\n\n\"How many units do you want to order?\"\n\n📌 AUTO-FETCH LOGIC (Assistant Handles Automatically)\n\nAfter receiving Product ID + quantity, the assistant will automatically fetch:\n\n✓ Product Name\n✓ Size\n✓ Category\n✓ Supplier Email\n\nfrom the Company Information Sheet.\n\n📄 ORDER SUMMARY (Auto-Generated)\n\nAfter auto-fetching:\n\nHere is your order summary ✔️\n\n• Product ID: [ID]\n• Product: [Auto Product Name]\n• Size: [Auto Size]\n• Category: [Auto Category]\n• Quantity Ordered: [User Qty]\n\nPlease confirm to send order to the supplier.\nReply “Yes” to confirm or “No” to cancel.\n\n📧 AFTER CONFIRMATION\n\nIf user replies Yes:\n\nYour order has been confirmed ✔️\nOrder has been emailed to the supplier 📩\nAnd saved in the system.\n\nIf user replies No:\n\nOrder cancelled ❌\n\n🔁 Important Rules\n\n• Only ask for Product ID and Quantity\n• All other product details must be auto-filled from the Company Data Sheet\n• Supplier email must always be auto-fetched\n• Never send order without user confirmation\n• Keep replies short\n• WhatsApp-style simple language\n\n📌 SYSTEM PROMPT FOR PROFESSIONAL HTML EMAIL\n\nWhen sending the supplier order, always generate the email in clean HTML format using the following template:\n\n<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\" />\n  <title>Purchase Order</title>\n  <style>\n    body {\n      font-family: Arial, sans-serif;\n      background-color: #f6f8fa;\n      margin: 0;\n      padding: 20px;\n      color: #333;\n    }\n    .container {\n      max-width: 650px;\n      background: #ffffff;\n      margin: auto;\n      padding: 25px;\n      border-radius: 10px;\n      box-shadow: 0 3px 10px rgba(0,0,0,0.1);\n    }\n    h2 {\n      color: #0072ce;\n      margin-bottom: 10px;\n      text-align: center;\n    }\n    .section-title {\n      font-weight: bold;\n      margin-top: 30px;\n      color: #555;\n      font-size: 16px;\n      border-left: 4px solid #0072ce;\n      padding-left: 10px;\n    }\n    table {\n      width: 100%;\n      border-collapse: collapse;\n      margin-top: 15px;\n    }\n    th, td {\n      padding: 10px 12px;\n      border: 1px solid #ddd;\n      font-size: 14px;\n      text-align: left;\n    }\n    th {\n      background-color: #f0f4f8;\n    }\n    .footer {\n      text-align: center;\n      margin-top: 35px;\n      font-size: 12px;\n      color: #777;\n    }\n  </style>\n</head>\n\n<body>\n  <div class=\"container\">\n\n    <h2>Purchase Order – Nestlé Water Distribution</h2>\n\n    <p>Dear Supplier,</p>\n    <p>Please find below the new purchase order details:</p>\n\n    <div class=\"section-title\">Order Summary</div>\n\n    <table>\n      <tr>\n        <th>Product ID</th>\n        <td>{{product_id}}</td>\n      </tr>\n      <tr>\n        <th>Product Name</th>\n        <td>{{product_name}}</td>\n      </tr>\n      <tr>\n        <th>Size</th>\n        <td>{{size}}</td>\n      </tr>\n      <tr>\n        <th>Category</th>\n        <td>{{category}}</td>\n      </tr>\n      <tr>\n        <th>Quantity Ordered</th>\n        <td>{{quantity}}</td>\n      </tr>\n    </table>\n\n    <p class=\"section-title\">Notes</p>\n    <p>Please process this order at the earliest convenience.  \n    If there are any issues or delays, kindly notify us.</p>\n\n    <p class=\"footer\">\n      This email was generated automatically by Nestlé Water Distribution System.\n    </p>\n\n  </div>\n</body>\n</html>\n\n✅ How the Assistant Should Use This Template\n\nWhen sending the order email, replace:\n\n{{product_id}}\n\n{{product_name}}\n\n{{size}}\n\n{{category}}\n\n{{quantity}}\n\nWith actual values from the Company Information Sheet + user input.\n\n✅ Example Filled Email (for testing)\n\nIf user ordered:\n\nProduct ID: 4\n\nName: Nestle Water Pure Life\n\nSize: 19 Litre\n\nCategory: water\n\nQuantity: 50\n\nThen email will look extremely professional.\n\n\n2️⃣ RECEIVE STOCK (Warehouse Receiving)\n\nWhen user selects 2 — Receive Stock, ask only essential fields:\n\nStep 1 — Ask for Product ID\n\n\"Please share the Product ID.\"\n\n(Valid IDs: 1, 2, 3, 4)\n\nIf product ID is invalid → show list again.\n\nStep 2 — Ask for Quantity Received\n\n\"How many units did you receive?\"\n\nStep 3 — Ask for Cost Price\n\n\"What is the cost price per unit?\"\n\nStep 4 — Ask for Expiry Date\n\n\"Please share the expiry date (DD/MM/YYYY).\"\n\n✔️ AUTO-FETCH LOGIC (Assistant Handles Automatically)\n\nAfter receiving inputs, automatically fetch from Company Information Sheet:\n\n✓ Product Name\n✓ Size\n✓ Category\n\nThen generate a full stock-receiving summary.\n\n📦 STOCK RECEIVING SUMMARY\n\nAfter collecting and auto-filling:\n\nStock received successfully 📦\nHere are the details:\n\n• Product ID: {{product_id}}\n• Product: {{product_name}}\n• Size: {{size}}\n• Category: {{category}}\n• Quantity Received: {{quantity_received}}\n• Cost Price (per unit): Rs {{cost_price}}\n• Expiry Date: {{expiry_date}}\n\nInventory has been updated ✔️\n\n🟦 RULES\n\n• Only ask for: ID, Qty, Cost Price, Expiry\n• Fetch name, size, category automatically\n• Keep replies short and WhatsApp-friendly\n• After summary → Save to Google Sheet\n\n\nGENERAL RULES\n\n• Keep messages short\n• Use simple WhatsApp tone\n• No bold text\n• Use emojis lightly\n• Never ask unnecessary questions\n• Only ask the fields you listed\n• Always confirm after saving stock/order"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -208,
        -144
      ],
      "id": "0d185e4e-23f0-4201-871f-20496a4247d2",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "136hUtEhHlHiYF7l7zNZtCEo05d5B_8I5VuZqad_5RHY",
          "mode": "list",
          "cachedResultName": "Nestle Water Distribution",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/136hUtEhHlHiYF7l7zNZtCEo05d5B_8I5VuZqad_5RHY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1502417477,
          "mode": "list",
          "cachedResultName": "Company Infomation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/136hUtEhHlHiYF7l7zNZtCEo05d5B_8I5VuZqad_5RHY/edit#gid=1502417477"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        -192,
        96
      ],
      "id": "61a3a6e7-7423-44a7-abee-57f3c80f24f4",
      "name": "Company Information",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2w9WAuJiLeMoVovN",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "136hUtEhHlHiYF7l7zNZtCEo05d5B_8I5VuZqad_5RHY",
          "mode": "list",
          "cachedResultName": "Nestle Water Distribution",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/136hUtEhHlHiYF7l7zNZtCEo05d5B_8I5VuZqad_5RHY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1585012146,
          "mode": "list",
          "cachedResultName": "Purchase Order",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/136hUtEhHlHiYF7l7zNZtCEo05d5B_8I5VuZqad_5RHY/edit#gid=1585012146"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ $now }}",
            "product_id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('product_id', ``, 'string') }}",
            "product_name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('product_name', ``, 'string') }}",
            "size": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('size', ``, 'string') }}",
            "category": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('category', ``, 'string') }}",
            "qty_order": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('qty_order', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "product_id",
              "displayName": "product_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "product_name",
              "displayName": "product_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "size",
              "displayName": "size",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "qty_order",
              "displayName": "qty_order",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        -64,
        96
      ],
      "id": "4a5aa393-766a-4b84-b765-7983626ae339",
      "name": "Purchase Order",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2w9WAuJiLeMoVovN",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "New Purchase Order from Nestle Distribution Multan",
        "message": "={{ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        64,
        96
      ],
      "id": "4745f66a-8b57-4ee9-894a-968017f0c365",
      "name": "send an order",
      "webhookId": "c72142e8-1329-494c-a0d3-0ddc2e574f55",
      "credentials": {
        "gmailOAuth2": {
          "id": "HGAVjVzCeN6Mwpu0",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "136hUtEhHlHiYF7l7zNZtCEo05d5B_8I5VuZqad_5RHY",
          "mode": "list",
          "cachedResultName": "Nestle Water Distribution",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/136hUtEhHlHiYF7l7zNZtCEo05d5B_8I5VuZqad_5RHY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 564734544,
          "mode": "list",
          "cachedResultName": "Stock Received",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/136hUtEhHlHiYF7l7zNZtCEo05d5B_8I5VuZqad_5RHY/edit#gid=564734544"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "product_id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('product_id', ``, 'string') }}",
            "product_name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('product_name', ``, 'string') }}",
            "size": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('size', ``, 'string') }}",
            "category": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('category', ``, 'string') }}",
            "qty_recieved": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('qty_recieved', ``, 'string') }}",
            "cost_price": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('cost_price', ``, 'string') }}",
            "total_cost": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('total_cost', ``, 'string') }}",
            "expiry_date": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('expiry_date', ``, 'string') }}",
            "timestamp": "={{ $now }}",
            "expairy_days_remaining": "==DATE(RIGHT(I7,4), MID(I7,4,2), LEFT(I7,2)) - TODAY()"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "product_id",
              "displayName": "product_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "product_name",
              "displayName": "product_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "size",
              "displayName": "size",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "qty_recieved",
              "displayName": "qty_recieved",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "cost_price",
              "displayName": "cost_price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "total_cost",
              "displayName": "total_cost",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "expiry_date",
              "displayName": "expiry_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "expairy_days_remaining",
              "displayName": "expairy_days_remaining",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        192,
        96
      ],
      "id": "4006c4ad-e252-4217-b8be-b40154e5a6f0",
      "name": "Stock Receive",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2w9WAuJiLeMoVovN",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "136hUtEhHlHiYF7l7zNZtCEo05d5B_8I5VuZqad_5RHY",
          "mode": "list",
          "cachedResultName": "Nestle Water Distribution",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/136hUtEhHlHiYF7l7zNZtCEo05d5B_8I5VuZqad_5RHY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1335712669,
          "mode": "list",
          "cachedResultName": "Stock Register",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/136hUtEhHlHiYF7l7zNZtCEo05d5B_8I5VuZqad_5RHY/edit#gid=1335712669"
        },
        "event": "rowUpdate",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -672,
        -464
      ],
      "id": "e676e003-6340-4018-b79e-3e214e1cc1fe",
      "name": "Stock Register",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "TuRagV6iRMJBCHSk",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "136hUtEhHlHiYF7l7zNZtCEo05d5B_8I5VuZqad_5RHY",
          "mode": "list",
          "cachedResultName": "Nestle Water Distribution",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/136hUtEhHlHiYF7l7zNZtCEo05d5B_8I5VuZqad_5RHY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 564734544,
          "mode": "list",
          "cachedResultName": "Stock Received",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/136hUtEhHlHiYF7l7zNZtCEo05d5B_8I5VuZqad_5RHY/edit#gid=564734544"
        },
        "event": "rowUpdate",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -672,
        -304
      ],
      "id": "9107eeb1-d6fa-44dd-8d74-7bf230d25a21",
      "name": "Stock Received",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "TuRagV6iRMJBCHSk",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "df99b01e-6136-4abb-a427-d08942823e27",
              "leftValue": "={{ $json.expairy_days_remaining }}",
              "rightValue": 30,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -464,
        -304
      ],
      "id": "fe2970c0-6f26-4819-9b43-c4951e25d459",
      "name": "If - Expiry Stock Alert"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b18cf888-37e7-4f10-aee2-63f61854e4fa",
              "leftValue": "={{ $json.need_to_reorder }}",
              "rightValue": "Yes",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -448,
        -464
      ],
      "id": "5c58100f-a75a-42f9-b166-bbece392ac64",
      "name": "If-Low Stock Alert"
    },
    {
      "parameters": {
        "sendTo": "shahfaisal1234@gmail.com",
        "subject": "Expiry Notification – Stock Review Needed",
        "message": "=<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width,initial-scale=1.0\">\n  <title>Expiry Stock Alert</title>\n  <style>\n    body {\n      margin:0;\n      padding:0;\n      font-family: Arial, Helvetica, sans-serif;\n      background-color: #f4f6f8;\n      color: #333333;\n    }\n    .wrapper {\n      width: 100%;\n      padding: 20px 0;\n      background-color: #f4f6f8;\n    }\n    .container {\n      max-width: 700px;\n      margin: 0 auto;\n      background-color: #ffffff;\n      border-radius: 8px;\n      overflow: hidden;\n      box-shadow: 0 4px 20px rgba(0,0,0,0.05);\n    }\n    .header {\n      background-color: #dc2626;\n      color: #ffffff;\n      padding: 20px 25px;\n      text-align: left;\n    }\n    .header h1 {\n      margin: 0;\n      font-size: 20px;\n      letter-spacing: 0.5px;\n    }\n    .content {\n      padding: 25px;\n      font-size: 15px;\n      line-height: 1.6;\n    }\n    .order-table {\n      width: 100%;\n      border-collapse: collapse;\n      margin: 18px 0;\n    }\n    .order-table th, .order-table td {\n      border: 1px solid #e5e7eb;\n      padding: 10px 12px;\n      text-align: left;\n      font-size: 14px;\n    }\n    .order-table th {\n      background-color: #f3f4f6;\n      font-weight: bold;\n    }\n    .footer {\n      background-color: #fafafa;\n      color: #777777;\n      font-size: 12px;\n      padding: 15px 25px;\n      border-top: 1px solid #ececec;\n      text-align: center;\n    }\n  </style>\n</head>\n<body>\n  <div class=\"wrapper\">\n    <div class=\"container\">\n\n      <!-- Header -->\n      <div class=\"header\">\n        <h1>Expiry Stock Alert</h1>\n      </div>\n\n      <!-- Content -->\n      <div class=\"content\">\n        <p>Dear <strong>Distributor</strong>,</p>\n\n        <p>\n          This is to notify you that the following products in our inventory are \n          <strong>near expiry</strong> or have already reached their expiry threshold.  \n          Kindly review the items and advise replacement or further action as soon as possible.\n        </p>\n\n        <!-- Table -->\n        <table class=\"order-table\">\n          <thead>\n            <tr>\n              <th>Product ID</th>\n              <th>Product Name</th>\n              <th>Size</th>\n              <th>Expiry Date</th>\n              <th>Expiry Days</th>\n            </tr>\n          </thead>\n          <tbody>\n              <th>{{ $('Stock Received').item.json.product_id }}</th>\n              <th>{{ $('Stock Received').item.json.product_name }}</th>\n              <th>{{ $('Stock Received').item.json.size }}</th>\n              <th>{{ $('Stock Received').item.json.expiry_date }}</th>\n<th>{{ $json.expairy_days_remaining }}</th>\n          </tbody>\n        </table>\n\n        <p>\n          We request your immediate attention to prevent any supply disruption and ensure product quality compliance.\n        </p>\n\n        <p>Thank you for your cooperation.</p>\n\n        <p>Best regards,<br>\n          <strong>Nestle Distribution Multan</strong><br>\n        </p>\n      </div>\n\n      <!-- Footer -->\n      <div class=\"footer\">\n        This email is intended for the authorized supplier of Nestle Distribution Multan.\n      </div>\n\n    </div>\n  </div>\n</body>\n</html>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -160,
        -288
      ],
      "id": "2523a02c-cb15-46cb-8a4e-96d282c3677e",
      "name": "Send mail - Expairy Stock",
      "webhookId": "4a3361a4-82eb-4a5d-af57-af967d6755d5",
      "credentials": {
        "gmailOAuth2": {
          "id": "HGAVjVzCeN6Mwpu0",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "shahfaisal1234@gmail.com",
        "subject": "Re-Order Request – Low Stock Alert",
        "message": "=<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width,initial-scale=1.0\">\n  <title>Re-Order Request</title>\n  <style>\n    body {\n      margin:0;\n      padding:0;\n      font-family: Arial, Helvetica, sans-serif;\n      background-color: #f4f6f8;\n      color: #333333;\n    }\n    .wrapper {\n      width: 100%;\n      padding: 20px 0;\n      background-color: #f4f6f8;\n    }\n    .container {\n      max-width: 700px;\n      margin: 0 auto;\n      background-color: #ffffff;\n      border-radius: 8px;\n      overflow: hidden;\n      box-shadow: 0 4px 20px rgba(0,0,0,0.05);\n    }\n    .header {\n      background-color: #ef4444;\n      color: #ffffff;\n      padding: 20px 25px;\n      text-align: left;\n    }\n    .header h1 {\n      margin: 0;\n      font-size: 20px;\n      letter-spacing: 0.5px;\n    }\n    .content {\n      padding: 25px;\n      font-size: 15px;\n      line-height: 1.6;\n    }\n    .order-table {\n      width: 100%;\n      border-collapse: collapse;\n      margin: 18px 0;\n    }\n    .order-table th, .order-table td {\n      border: 1px solid #e5e7eb;\n      padding: 10px 12px;\n      text-align: left;\n      font-size: 14px;\n    }\n    .order-table th {\n      background-color: #f3f4f6;\n      font-weight: bold;\n    }\n    .footer {\n      background-color: #fafafa;\n      color: #777777;\n      font-size: 12px;\n      padding: 15px 25px;\n      border-top: 1px solid #ececec;\n      text-align: center;\n    }\n  </style>\n</head>\n<body>\n  <div class=\"wrapper\">\n    <div class=\"container\">\n\n      <!-- Header -->\n      <div class=\"header\">\n        <h1>Re-Order Request – Low Stock Alert</h1>\n      </div>\n\n      <!-- Content -->\n      <div class=\"content\">\n        <p>Dear <strong>Distributor</strong>,</p>\n\n        <p>\n          We would like to inform you that the following products have reached \n          <strong>low stock levels</strong> in our inventory.  \n          To avoid any shortage in supply, we request you to process the \n          <strong>re-order</strong> for the items listed below:\n        </p>\n\n        <!-- Table -->\n        <table class=\"order-table\">\n          <thead>\n            <tr>\n              <th>Product ID</th>\n              <th>Product Name</th>\n              <th>Size</th>\n              <th>Category</th>\n              <th>Current Stock</th>\n           </tr>\n          </thead>\n          <tbody>\n             <th>{{ $('Stock Register').item.json.product_id }}</th>\n              <th>{{ $('Stock Register').item.json.product_name }}</th>\n              <th>{{ $('Stock Register').item.json.size }}</th>\n              <th>{{ $('Stock Register').item.json.category }}</th>\n              <th>{{ $('Stock Register').item.json.current_stock }}</th>\n          </tbody>\n        </table>\n\n        <p>\n          Kindly confirm the expected delivery timeline so we can coordinate distribution accordingly.\n        </p>\n\n        <p>Thank you for your cooperation.</p>\n\n        <p>Best regards,<br>\n          <strong>Nestle Distribution Multan</strong><br>\n        </p>\n      </div>\n\n      <!-- Footer -->\n      <div class=\"footer\">\n        This message is intended only for the supplier of Nestle Distribution Multan.\n      </div>\n\n    </div>\n  </div>\n</body>\n</html>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -160,
        -448
      ],
      "id": "6ef0b795-e41f-459d-a870-69e6814958c4",
      "name": "Send mail - Low Stock",
      "webhookId": "011bcd5f-988f-4617-b635-ca68ef0f20b7",
      "credentials": {
        "gmailOAuth2": {
          "id": "HGAVjVzCeN6Mwpu0",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Company Information": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Purchase Order": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "send an order": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Stock Receive": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "Stock Register": {
      "main": [
        [
          {
            "node": "If-Low Stock Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stock Received": {
      "main": [
        [
          {
            "node": "If - Expiry Stock Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If - Expiry Stock Alert": {
      "main": [
        [],
        [
          {
            "node": "Send mail - Expairy Stock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If-Low Stock Alert": {
      "main": [
        [],
        [
          {
            "node": "Send mail - Low Stock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": 3600,
    "availableInMCP": false,
    "errorWorkflow": "M52GqDyb7TQpoTZk",
    "timeSavedPerExecution": 0
  },
  "versionId": "e09d8ac6-353e-4912-99b0-421258290862",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "49514aa67511fd1b7100d13a628d76b78e9678ae96cb8b50dbcf997242623f08"
  },
  "id": "M52GqDyb7TQpoTZk",
  "tags": []
}