AI Retail Distribution Automation System/5b_Dead_Stock_and_Slow-Moving_Inventory_Alert.json
{
  "name": "5b_Dead_Stock_and_Slow-Moving_Inventory_Alert",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "months",
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -672,
        80
      ],
      "id": "efc35ed0-0cdd-4f75-8871-fc9d44b8d4ea",
      "name": "Monthly 1st Date 09:00 AM Trigger"
    },
    {
      "parameters": {
        "jsCode": "// Function Node: Stock Health Logic (Dead Stock & Overstock)\nconst deadStockThreshold = 60; // Dead Stock: 60 din se zyada sale na ho\nconst overstockThreshold = 60; // Overstock: 60 din se zyada ki supply ho\n\nfor (const item of items) {\n  const currentStock = item.json['current_stock'] || 0;\n  const last30DaysSale = item.json['last_30_days_sale'] || 0;\n  const daysSinceLastSale = item.json['days_since_last_sale'] || 0; // Assume is maintained\n  const dailyDemand = last30DaysSale / 30;\n  \n  item.json['Is_Dead_Stock'] = 'No';\n  item.json['Is_Overstocked'] = 'No';\n  \n  // --- 1. Dead Stock Check ---\n  if (daysSinceLastSale > deadStockThreshold && currentStock > 0) {\n    item.json['Is_Dead_Stock'] = 'Yes';\n    // Calculate Blocked Value\n    item.json['Blocked_Value'] = (item.json['cost_price'] * currentStock).toFixed(2);\n  }\n  \n  // --- 2. Overstock Check (Only if there is demand) ---\n  if (dailyDemand > 0) {\n    const daysOfSupply = currentStock / dailyDemand;\n    item.json['Days_Of_Supply'] = daysOfSupply.toFixed(0);\n    \n    if (daysOfSupply > overstockThreshold) {\n      item.json['Is_Overstocked'] = 'Yes';\n    }\n  }\n}\n\nreturn items; // Sara data wapas karein, IF nodes aage filter karenge"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -224,
        80
      ],
      "id": "095a2753-8a80-4d5b-98bd-81b69412eae0",
      "name": "Stock Health Logic (Slow-Moving aur Overstock)"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "136hUtEhHlHiYF7l7zNZtCEo05d5B_8I5VuZqad_5RHY",
          "mode": "list",
          "cachedResultName": "Nestle Water Distribution Original",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/136hUtEhHlHiYF7l7zNZtCEo05d5B_8I5VuZqad_5RHY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1335712669,
          "mode": "list",
          "cachedResultName": "Stock Register",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/136hUtEhHlHiYF7l7zNZtCEo05d5B_8I5VuZqad_5RHY/edit#gid=1335712669"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -448,
        80
      ],
      "id": "8145f559-d8ab-47a6-bb95-ac9ec4a71b35",
      "name": "Get Stock Register",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ITuEKJjgBfUpaHYr",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0552b0ba-67aa-45f0-88ae-6081194687fe",
              "leftValue": "={{ $json.Is_Dead_Stock }}",
              "rightValue": "Yes",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        0,
        -16
      ],
      "id": "7b24bf72-db64-4948-b5f9-dd22eb726706",
      "name": "If -- Is_Dead_Stock"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "713c615a-d167-4696-b31b-9e184c1572e4",
              "leftValue": "={{ $json.Is_Overstocked }}",
              "rightValue": "Yes",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        0,
        176
      ],
      "id": "378c13b7-f137-4fbe-b1d5-35609b28409e",
      "name": "If1 -- Is_Overstocked"
    },
    {
      "parameters": {
        "sendTo": "shahfaisal1234@gmail.com",
        "subject": "Dead Stock Alert – Immediate Review Required",
        "message": "=<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"UTF-8\" />\n<title>Dead Stock Alert</title>\n<style>\n    body {\n        font-family: Arial, Helvetica, sans-serif;\n        background: #f4f4f4;\n        padding: 0;\n        margin: 0;\n    }\n    .container {\n        max-width: 700px;\n        margin: 30px auto;\n        background: #ffffff;\n        padding: 25px;\n        border-radius: 10px;\n        border: 1px solid #e3e3e3;\n    }\n    .header {\n        background: #6c757d;\n        padding: 18px;\n        border-radius: 8px;\n        text-align: center;\n        font-size: 22px;\n        font-weight: bold;\n        color: #fff;\n    }\n    .content {\n        margin-top: 20px;\n        font-size: 15px;\n        color: #333;\n        line-height: 1.6;\n    }\n    table {\n        width: 100%;\n        border-collapse: collapse;\n        margin-top: 18px;\n    }\n    th {\n        background: #f2f2f2;\n        padding: 10px;\n        border: 1px solid #ddd;\n        font-size: 14px;\n        text-align: left;\n    }\n    td {\n        padding: 10px;\n        border: 1px solid #ddd;\n        font-size: 14px;\n    }\n    .footer {\n        margin-top: 25px;\n        font-size: 14px;\n        color: #666;\n        border-top: 1px solid #ddd;\n        padding-top: 15px;\n    }\n</style>\n</head>\n\n<body>\n<div class=\"container\">\n\n    <!-- HEADLINE -->\n    <div class=\"header\">\n        Dead Stock Alert – Immediate Review Required\n    </div>\n\n    <!-- MESSAGE BODY -->\n    <div class=\"content\">\n        The following product has been identified as <strong>dead stock</strong> due to extended inactivity and blocked inventory value.\n    </div>\n\n    <!-- PRODUCT TABLE -->\n    <table>\n        <tr>\n            <th>Product ID</th>\n            <th>Product Name</th>\n            <th>Size</th>\n            <th>Current Stock</th>\n            <th>Days Since Last Sale</th>\n            <th>Blocked Value</th>\n        </tr>\n        <tr>\n            <td>{{ $json.product_id }}</td>\n            <td>{{ $json.product_name }}</td>\n            <td>{{ $json.size }}</td>\n            <td>{{ $json.current_stock }}</td>\n            <td>{{ $json.days_since_last_sale }}</td>\n            <td>{{ $json.Blocked_Value }}</td>\n        </tr>\n    </table>\n\n    <div class=\"content\">\n        Please evaluate this product for potential actions such as clearance, promotion, or disposal to prevent further financial blockage.\n    </div>\n\n    <!-- FOOTER -->\n    <div class=\"footer\">\n        Regards,<br>\n        <strong>Nestle Water Distribution Multan</strong>\n    </div>\n\n</div>\n</body>\n</html>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        224,
        -16
      ],
      "id": "a85f60a1-046e-438a-a3b2-cfcccf0c9de2",
      "name": "Send Dead Stock Alert",
      "webhookId": "1cb2dd77-bcd1-4c75-9a58-7c243eab8d1e",
      "credentials": {
        "gmailOAuth2": {
          "id": "0BmNIbP17JywGsPt",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "shahfaisal1234@gmail.com",
        "subject": "Overstock Alert – Immediate Stock Management Required",
        "message": "=<!DOCTYPE html> <html lang=\"en\"> <head> <meta charset=\"UTF-8\" /> <title>Overstock Alert</title> <style>     body {         font-family: Arial, Helvetica, sans-serif;         background: #f4f4f4;         margin: 0;         padding: 0;     }     .container {         max-width: 700px;         margin: 30px auto;         background: #ffffff;         padding: 25px;         border-radius: 10px;         border: 1px solid #e3e3e3;     }     .header {         background: #0ea5e9;         padding: 18px;         border-radius: 8px;         text-align: center;         font-size: 22px;         font-weight: bold;         color: #fff;     }     .content {         margin-top: 20px;         font-size: 15px;         color: #333;         line-height: 1.6;     }     table {         width: 100%;         border-collapse: collapse;         margin-top: 18px;     }     th {         background: #f2f2f2;         padding: 10px;         border: 1px solid #ddd;         font-size: 14px;         text-align: left;     }     td {         padding: 10px;         border: 1px solid #ddd;         font-size: 14px;     }     .footer {         margin-top: 25px;         font-size: 14px;         color: #666;         border-top: 1px solid #ddd;         padding-top: 15px;     } </style> </head>  <body> <div class=\"container\">      <!-- HEADLINE -->     <div class=\"header\">         Overstock Alert – Immediate Stock Management Required     </div>      <!-- MESSAGE BODY -->     <div class=\"content\">         The following product has exceeded the maximum stock level and requires immediate attention to optimize inventory and reduce holding costs.     </div>      <!-- PRODUCT TABLE -->     <table>         <tr>             <th>Product ID</th>             <th>Product Name</th>             <th>Size</th>             <th>Category</th>             <th>Current Stock</th>             <th>Maximum Stock Level</th>         </tr>         <tr>             <td>{{ $json.product_id }}</td>             <td>{{ $json.product_name }}</td>             <td>{{ $json.size }}</td>             <td>{{ $json.category }}</td>             <td>{{ $json.current_stock }}</td>             <td>{{ $json.Days_Of_Supply }} Days</td>         </tr>     </table>      <div class=\"content\">         Please take necessary action such as sales promotion, transfer, or temporary halt of purchasing to manage the excess stock.     </div>      <!-- FOOTER -->     <div class=\"footer\">         Regards,<br>         <strong>Nestle Water Distribution Multan</strong>     </div>  </div> </body> </html>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        224,
        176
      ],
      "id": "b66dff60-581f-4317-a0df-2ac84e112466",
      "name": "Send Overstock Alert",
      "webhookId": "0882e7af-b7c6-4109-9756-85a752898732",
      "credentials": {
        "gmailOAuth2": {
          "id": "0BmNIbP17JywGsPt",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "content": "## 📉 Step 10: Dead Stock and Slow-Moving Inventory Alert\n- Trigger Schedule (On the 1st day of every month or On the 1st day of every week)\n- Inventory Review (1. zero sales in the last 60 days, 2. current stock has been sitting in the inventory for more than 60 days)\n- Owner Alert (Email)\n\n**Objective:** \nTo prompt the owner to take necessary action (like running a promotion or initiating disposal) to minimize holding costs and prevent financial loss.\n",
        "height": 528,
        "width": 1216,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -784,
        -192
      ],
      "typeVersion": 1,
      "id": "33e22117-5353-4277-9d04-8bbc1bcb1ffd",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "Monthly 1st Date 09:00 AM Trigger": {
      "main": [
        [
          {
            "node": "Get Stock Register",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stock Health Logic (Slow-Moving aur Overstock)": {
      "main": [
        [
          {
            "node": "If -- Is_Dead_Stock",
            "type": "main",
            "index": 0
          },
          {
            "node": "If1 -- Is_Overstocked",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Stock Register": {
      "main": [
        [
          {
            "node": "Stock Health Logic (Slow-Moving aur Overstock)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If -- Is_Dead_Stock": {
      "main": [
        [
          {
            "node": "Send Dead Stock Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1 -- Is_Overstocked": {
      "main": [
        [
          {
            "node": "Send Overstock Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": 3600,
    "availableInMCP": false,
    "errorWorkflow": "UpQjozE6jjoEXglR",
    "timeSavedPerExecution": 0
  },
  "versionId": "f361a642-9155-4384-b1ab-24c741b060ff",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "da262493ba5cba18ce299519af91bd3bf3ef9b6b9538b99fcc483a06923f1abc"
  },
  "id": "UpQjozE6jjoEXglR",
  "tags": [
    {
      "updatedAt": "2025-12-02T17:35:34.543Z",
      "createdAt": "2025-12-02T17:35:34.543Z",
      "id": "issaJewl9SrpS5uV",
      "name": "DMS"
    }
  ]
}